<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="logintest">
<listeners>
</listeners>
<test name="Test1">
<parameter name="browser" value="chrome"/>
<classes>
<class name="com.nopcommerce.Test.TC_nopcommerce_login_001"/>
<class name="com.nopcommerce.Test.TC_nopcommerce_loginDDF_002"/>
<class name="com.nopcommerce.Test.TC_nopcommerce_Addcustomer_Test_003">
</class>
</classes>
</test>
</suite>